@page
@using ChatRealtime.Areas.Identity.Pages.Account;
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Esqueci Senha";
}

<div class="card">
    <div class="card-body">
        <h1>@ViewData["Title"]</h1>
        <p>Por favor cheque seu e-mail para resetar sua senha.</p>
        <p class="fs-14">
            <a asp-page="./Login">Voltar</a>
        </p>
    </div>
</div>